<div class="row">
    <div class="card-editora d-flex flex-column justify-content-center align-items-center me-4 mb-4">
        <img src="../../../assets/Marvel_Logo.svg">
        <h1 class="fs-3 mt-4">Marvel</h1>
    </div>
    <div class="card-editora d-flex flex-column justify-content-center align-items-center me-4 mb-4">
        <img src="../../../assets/Marvel_Logo.svg">
        <h1 class="fs-3 mt-4">Marvel</h1>
    </div>
    <div class="card-editora d-flex flex-column justify-content-center align-items-center me-4 mb-4">
        <img src="../../../assets/Marvel_Logo.svg">
        <h1 class="fs-3 mt-4">Marvel</h1>
    </div>
    <div class="card-editora d-flex flex-column justify-content-center align-items-center me-4 mb-4">
        <img src="../../../assets/Marvel_Logo.svg">
        <h1 class="fs-3 mt-4">Marvel</h1>
    </div>
    <div class="card-editora d-flex flex-column justify-content-center align-items-center me-4 mb-4">
        <img src="../../../assets/Marvel_Logo.svg">
        <h1 class="fs-3 mt-4">Marvel</h1>
    </div>
    <div class="card-editora d-flex flex-column justify-content-center align-items-center me-4 mb-4">
        <img src="../../../assets/Marvel_Logo.svg">
        <h1 class="fs-3 mt-4">Marvel</h1>
    </div>
</div>
